<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.cms_atn.mapper.bookMapper">
	
	
	<select id="getAll"
			parameterType="com.service.cms_atn.model.Book"  
			resultType="com.service.cms_atn.model.Book">
			SELECT * FROM "BOOK"
			<where>
				<if test="bookId != 0">
					AND bookId = #{bookId}
				</if>
				<if test="subjectId != 0">
					AND subjectId = #{subjectId}
				</if>
			</where>
	</select>
	
	<select id="insert" 
			parameterType="com.service.cms_atn.model.Book" 
			resultType="com.service.cms_atn.model.Book">
		<![CDATA[
			INSERT BOOK (subjectId,
							name,
							image,
							content)
			VALUES (#{subjectId},
					#{name},
					#{image},
					#{content})
		]]>
	</select>
	
	<select id="update" 
			parameterType="com.service.cms_atn.model.Book" 
			resultType="com.service.cms_atn.model.Book">
		<![CDATA[
			UPDATE BOOK
			SET subjectId = #{subjectId},
				name      = #{name},
				image     = #{image},
				content   = #{content}
			WHERE bookId  = #{bookId}
		]]>
	</select>
	
	<select id="delete" 
			parameterType="com.service.cms_atn.model.Book" 
			resultType="com.service.cms_atn.model.Book">
		<![CDATA[
			DELETE FROM BOOK
			WHERE bookId = #{bookId}
		]]>
	</select>
</mapper>