<div style="background-color: rgb(51, 181, 229);">
    <p style="color: white; font-size: larger;" class="text-center py-3">Are you sure?</p>
</div>
<div class="text-center">
    <span class="material-icons" style="font-size: 50px;">clear</span>
</div>
<hr>
<div class="mt-3 row">
    <div class="col-3">

    </div>
    <div class="col-3">
        <button class="btn btn-outline-info" (click)="closeModal()">Home</button>
    </div>
    <div class="col-3 mx-5">
        <button class="btn btn-danger" (click)="confirmDelete()">Delete</button>
    </div>
    <div class="col-3 mb-3">

    </div>
</div>