<div>
    <div style="background-color: rgb(51, 181, 229);">
        <p style="color: white; font-size: larger;" class="text-center py-3">Are you sure?</p>
    </div>
    <div class="text-center">
        <form [formGroup]="changeForm">
        <mat-form-field appearance="fill" class="mx-2">
            <mat-label>New Password</mat-label>
            <input formControlName="password" matInput [type]="hideNewPassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
              <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input formControlName="confirm" matInput [type]="hideConfirmPassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
              <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </form>
    </div>
    <hr>
    <div class="mt-3 row">
        <div class="col-3">

        </div>
        <div class="col-3">
          <button class="btn btn-primary" (click)="update()" >Update</button>
        </div>
        <div class="col-3 mx-5">
            <button class="btn btn-outline-info" (click)="closeModal()" >Cancel</button>
        </div>
        <div class="col-3 mb-3">

        </div>
    </div>
